<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro Funcionario</title>
</head>
<body>
	<form th:object="${funcionario}" th:action="@{/funcionario/saveFuncionario}" method="post">
		<label for="rua">Nome:</label>
		<input type="text" th:field="*{nome}"> 
		 <label for="rua">CPF:</label>	
		<input type="text" th:field="*{cpf}"> 
		 <label for="rua">RG:</label>
		<input type="text" th:field="*{rg}"> 
		 <label for="rua">Fone:</label>
		<input type="text" th:field="*{telefone}"> 
		<!-- <input type="text" th:field="*{numeroCarteiraTrabalho}">  -->
		
		<button type="submit">Salvar</button>
	</form>
</body>
</html>